@{
    ViewData["Title"] = "Home Page";
}

<partial name="_Usernav"/>
<div class="text-center">
    <h1 class="display-4">ATM Software! Stay with us till it finished.</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
