@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="d-flex" id="user">
    <partial name="_UserSidenav"/>

    <div class="container m-4">
        <div class="row col-8">
            <div class="form-group">
                <label for="select-withdraw-mode" class="label">Select withdraw mode</label>
                <select id="cashOption"
                        name="cashOption"
                        class="form-control">
                    <option value="1" selected>Fast cash</option>
                    <option value="2">Normal cash</option>
                </select>
            </div>

            <div class="form-floating mb-3 mt-4" id="normalCash">
                <input type="number"
                       class="form-control"
                       id="normal-cash"
                       placeholder="Example: 14000" />
                <label for="normal-cash" class="mx-3">Normal cash</label>
                <span class="text-muted">Example: 14000</span>
            </div>

            <div class="form-group my-4" id="fastCash">
                <label class="label" for="Fast-cash-options">Fast cash options</label>
                <br />
                <div class="form-check">
                    <input id="500"
                           name="fastCashOption"
                           type="radio"
                           class="my-2" />
                    &nbsp; <label for="500">500</label>
                </div>
                <div class="form-check">
                    <input id="1000"
                           name="fastCashOption"
                           type="radio"
                           class="my-2" />
                    &nbsp; <label for="1000">1000</label> <br />
                </div>
                <div class="form-check">
                    <input id="5000"
                           name="fastCashOption"
                           type="radio"
                           class="my-2" />
                    &nbsp; <label for="5000">5000</label> <br />
                </div>
            </div>

            <div class="checkbox">
                <div class="form-check">
                    <input class="form-check-input"
                           type="checkbox"
                           value=""
                           id="flexCheckDefault" />
                    <label class="form-check-label"
                           for="flexCheckDefault">
                        I want a recipt
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input"
                           type="checkbox"
                           value=""
                           id="flexCheckChecked"
                           checked />
                    <label class="form-check-label"
                           for="flexCheckChecked">
                        I’m sure I want to withdraw this amount
                    </label>
                </div>

                <div class="d-flex justify-content-end my-5">
                    <button class="btn btn-primary">Withdraw</button>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
            var select = document.getElementById("cashOption");
            var fastCash = document.getElementById("fastCash");
            var normalCash = document.getElementById("normalCash");

            var selectdOptions = 0;
            console.log(select.value);
            select.addEventListener("change", () => {
                selectdOptions = select.value;

                if (selectdOptions == 1) {
                    //
                    normalCash.style.display = "none";
                    fastCash.style.display = "block";
                } else {
                    //
                    fastCash.style.display = "none";
                    normalCash.style.display = "block";
                }
            });
</script>
