@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="d-flex flex-column justify-content-between flex-shrink-0 bg-light"
     id="sidenav">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="menu-item my-2">
            <a href="" class="nav-link mx-2" aria-current="page">
                Create new account
            </a>
        </li>
        <li class="my-2">
            <a href="" class="nav-link mx-2 link-dark">
                Delete existing account
            </a>
        </li>
        <li class="my-2">
            <a href="#" class="nav-link mx-2 link-dark">
                Update account information
            </a>
        </li>
        <li class="my-2">
            <a href="#" class="nav-link mx-2 link-dark">
                Search for account
            </a>
        </li>
        <li class="my-2">
            <a href="#" class="nav-link mx-2 link-dark">
                View reports
            </a>
        </li>
    </ul>
    <div>
        <hr />
        <div class="dropdown mx-2 p-2">
            <strong>Exit</strong>
        </div>
    </div>
</div>
